<html>
    <head>
        <title>
            Console Application
        </title>
    </head>
    <body>
        <center>
            <form action="/consolelogin/" method="post">
            <div class="container">
                <label for="uname"><b>Account Number</b></label>
                <input type="text" placeholder="Enter Account Number" name="anumber" required>
            
                <button type="submit">Login</button>
              </div>
            </form>
        </center>
    </body>
</html>